extends layout
block content
    div.sign
        div.wrapper
            h2 Sign In
            input(type='text', placeholder='Email')
            input(type='password', placeholder='Password')
            button Sign In
